.title{
    font-size: 38px;
    padding-left: 12px;
    font-family: JetBrains Mono, 'Courier New', Courier, monospace;
    color: rgb(222, 230, 219);
}

.nav{
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 12px;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading{
    font-size: 48px;
    font-family: Helvetica, sans-serif;
    color: rgb(222, 230, 219);
}

.sub_heading{
    font-size: 32px;
    font-family: Helvetica, sans-serif;
    color: rgb(222, 230, 219);
}

.main_btn{
    padding: 12px;
    border-width: 0px;
    border-radius: 3.2rem;
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(37, 241, 129);
    margin-top: 12px;
}

.btn_link{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    text-decoration: none;
    display: block;
    color: rgb(41, 38, 38);
}

.text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: rgb(247, 236, 236);
}

.about_div{
    display: flex;
    margin-top: 8%;
}

.about_img{
    padding: 5%;
    margin-top: 12px;
}

.about_text{
    padding: 6%;
}

.download_div{
    display: flex;
    margin-top: 8%;
}

.download_img{
    padding: 5%;
    margin-top: 12px;
}

.download_text{
    padding: 6%;
}

.code{
    font-size: 18px;
    font-family: JetBrains Mono, 'Courier New', Courier, monospace;
    color: #fff;
    padding-left: 1.2rem;
}

.code_span{
    background-color: rgb(39, 37, 37);
    padding: 1%;
    padding-right: 0px;
    border-radius: 1.2rem;
}

.footer{
    background: linear-gradient(to right, rgb(63, 61, 61), rgb(44, 46, 46));
    padding: 1%;
    margin-top: 2%;
    border-style: solid;
    border-color: rgb(231, 231, 226);
    border-radius: 12px;
    border-width: 2%;
}