@font-face {
    font-family: 'Permanent Marker';
    src: url(assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}

* {
    margin: 0;
}

video{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.main_div{
    position:absolute;
    top: 50%;
    left: 50%;
    /* background-color: rgba(184, 164, 164, 0.253); */
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 20px;
}

.title{
    font-family: 'Permanent Marker';
    font-size: 48px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.iframe{
    text-align: center;
}

iframe{
    border-radius: 20px;
}

.sub_heading{
    font-family: 'Permanent Marker';
    font-size: 36px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.footer_title{
    position: fixed;
    color: rgba(168, 154, 154, 0.418);
    bottom: 0;
    font-family: Pacifico, cursive;
    font-size: 18px;
    text-decoration: none;
    transition-delay: 40ms;
    transition-duration: 1s;
}

.footer_title:hover{
    color: white;
}

.footer_attribute{
    position: fixed;
    color: rgba(168, 154, 154, 0.418);
    bottom: 1%;
    right: 0;
    font-family: 'Cascadia Code','Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
    transition-delay: 40ms;
    transition-duration: 1s;
}

.footer_attribute:hover{
    color: white;
}

.modal_popup{
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.content_modal {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close_modal {
    color: #aaa;
    font-size: 28px;
    margin-left: 90%;
}  
.close_modal:hover, .close_modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.attribution_link{
    display: inline;
    /* position: fixed; */
    color: rgb(187, 245, 165);
    /* bottom: 1%; */
    /* right: 0; */
    font-family: 'Cascadia Code','Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
    transition-delay: 40ms;
    transition-duration: 1s;
}

.attribution_link:hover{
    color: rgb(119, 247, 45);
}

.attribution_text{
    display: inline;
    /* position: fixed; */
    color: rgb(223, 206, 206);
    /* bottom: 1%; */
    /* right: 0; */
    font-family: 'Cascadia Code','Courier New', Courier, monospace;
    font-size: 16px;
    text-decoration: none;
    transition-delay: 40ms;
    transition-duration: 1s;
}